<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create tournament without LOGIN</title>
    <link rel="stylesheet" href="/static/css/tournament_create.css">
</head>
<body>
    <div id="info" draft="true"></div>
    <div class="cont">
        <h1>Create a tournament</h1>
        <form action="">
            <input type="text" placeholder="Name" required class="getmethoseDATA">
            <textarea name="desc" id="" placeholder="Description" required  class="getmethoseDATA"></textarea>
            <label for="date">Pick a start date</label>
            <input type="date" id="date" required class="getmethoseDATA">
            <label for="time">Pick a start time</label>
            <input type="time" id="time" required class="getmethoseDATA">
            <input type="text" placeholder="Location" required class="getmethoseDATA">
            <label for="courts">Number of courts (accepts only numbers!)</label>
            <input type="text" id="courts" inputmode="numeric" pattern="[0-9]+" required class="getmethoseDATA">
            <select id="discipline" required class="getmethoseDATA">
                <option value="" disabled selected hidden>Pick a discipline</option>
                {% for discipline in disciplines %}
                    <option value="{{ discipline.name }}">{{ discipline.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Create</button>
        </form>
        <br>
        <h2>Note: Creating a tournament this way will save it as a draft.</h2>
    </div>
    <script src="/static/js/public_tournament_create.js"></script>
</body>
</html>