<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Dashboard</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/tournament_dash.css">
    <link rel="stylesheet" href="/static/css/loading_animation.css">
</head>
<body>
    {% if tournament == 0 %}
    <h1 style="text-align: center;">This tournament doesn't exist</h1>
    {% else %}
    <h6 id="id" data-id="{{ tournament.id }}" data-state="{{ tournament['tournament_state'] }}">id: {{ tournament.id }}</h6>
    <h1>{{ tournament.name }}</h1>
    <div class="golive-buttons">
        <button id="golive1" data-action="start">Go Live</button>
        <button id="golive2" data-action="start">Go Live</button>
        <button id="startButton" data-action="start">Start stream</button>
        <!-- GO LIVE BUTTONS HERE -->
    </div>
    <h2>Devices</h2>
    {% if devicesData %}
    <table class="devices">
        <thead>
            <tr>
                <th>Name</th>
                <th>Court</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in devicesData %}
            <tr class="deviceRow" data-machine-id="{{ row['machine_id'] }}" data-device-state="{{ row['state'] }}">
                <td data-col="name" data-id="{{ row['license_key'] }}">{{row["name"]}}</td>
                <td data-col="court" data-id="{{ row['license_key'] }}">{{row["court"]}}</td>
                <td data-col="status">{{ row["status"] }}</td>
                <td class="actionButtons">
                    <button data-machine-id="{{ row['machine_id'] }}" class="goLiveButton1" data-action="start">Go Live</button>
                    <button data-machine-id="{{ row['machine_id'] }}" class="goLiveButton2" data-action="start">Go Live</button>
                    <button data-machine-id="{{ row['machine_id'] }}" class="startStreamBtn" data-action="start">Start</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No Devices!</p>
    {% endif %}
    <br>
    <div class="golive-buttons">
        <button id="schedule">Schedule Live</button>
    </div>
    <br>
    <div class="tournament-section">
        <div class="data">
            <table>
                <tr>
                    <th colspan="2" class="heading">Tournament Data</th>
                </tr>
                <tr>
                    <td class="heading">Title</td>
                    <td data-col="name" class="editable">{{ tournament.name }}</td>
                </tr>
                <tr>
                    <td class="heading">Description</td>
                    <td data-col="desc" class="editable">{{ tournament.desc }}</td>
                </tr>
                <tr>
                    <td class="heading">Start Date</td>
                    <td data-col="startDate" class="editable">{{ tournament.startDate }}</td>
                </tr>
                <tr>
                    <td class="heading">Start Time</td>
                    <td data-col="startTime" class="editable">{{ tournament.startTime }}</td>
                </tr>
                <tr>
                    <td class="heading">Courts</td>
                    <td id="courtnum" data-scheduled="{{ tournament.scheduled }}">{{ tournament.courts }}</td>
                </tr>
                <tr>
                    <td class="heading">Location</td>
                    <td data-col="location" class="editable">{{ tournament.location }}</td>
                </tr>
                <tr>
                    <td class="heading">Discipline</td>
                    <td data-col="discipline" class="editable">{{ tournament.discipline }}</td>
                </tr>
            </table>
        </div>
        <div class="right">
            <form action="" id="thumbnail">
            </form>
            <button class="button" id="thumbupdate">Update Thumbnails</button>
        </div>
    </div>
    <br>
    <button class="button" id="qr_code_gen">Download QR code</button>
    <h2>Pro tip: Ak chces zmenit Tournament data, klikni na ziadane pole a zmen to.</h2>
    <div class="messageContainer">
        <textarea type="text" placeholder="Broadcast message...">{{ tournament.message }}</textarea>
        <input type="submit" id="message_livestream_broadcast">
    </div>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="/static/js/tournament_edit.js"></script>
    <script src="/static/js/tournament_dash_logic.js"></script>
    <script>
const socket = io("http://localhost:5000", {
    auth: {
        token: "frontend"
    }
});

socket.on("connect", () => {
    console.log("Connected to server:", socket.id);
});

socket.on("device_status_changed", (payload) => {
    console.log("Full payload:", payload);

    const machineId = payload.data.machine_id;
    const status = payload.data.status;

    const row = document.querySelector(`tr[data-machine-id="${machineId}"]`)
    const statusCell = row.querySelector('td[data-col="status"]')

    statusCell.innerHTML = status
    console.log("Machine:", machineId);
    console.log("Status:", status);
});
    </script>
    {% endif %}
</body>
</html>